/*
Theme Name: HU WP Bootstrap
Theme URI: 
Description: A twitter bootstap based theme
Author: bc
Version: 1.0
*/


@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css'); 

a { color: #f7941f; }
a:hover{ color:#AAAAAA;}
.container { max-width: 1000px;}
#hu-header {padding-bottom:15px;}
#menu-item-gethelp a {color:red;}
.black-caret{border-top-color: #000000 !important; border-bottom-color: #000000 !important;}

.navbar{overflow:visible;margin-bottom:0px;*position:relative;*z-index:2;font-size:14px; font-weight:bolder;}
.navbar .nav>li>a{float:none;padding:10px 15px 10px;color:#333333;text-decoration:none;text-shadow:0 1px 0 #ffffff;}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {border-top-color: #ff8000 !important;border-bottom-color: #ff8000 !important;} 

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#333333;text-decoration:none;outline:0;background-color:#FF8000;background-image:-moz-linear-gradient(top, #0088cc, #0077b3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);background-image:-o-linear-gradient(top, #0088cc, #0077b3);background-image:linear-gradient(to bottom, #0088cc, #0077b3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color: #ff8000;background-image: none;filter: none;}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:20px;color:#333333;white-space:nowrap;font-size: 12px;}

#footer {position:absolute; bottom:0px; min-height: 40px; left:0px;right:0px;}
#wrap{position:relative;min-height:100%;}
html {height:100%}
body{min-height:100%; position:relative;}
#headerimg{ padding-top: 52px;}
#main-content	{padding-bottom: 40px;}

textarea { resize: vertical;}

.hu-caption {  max-width:200px;  max-height:387px;}


.hu-caption p {   
    text-overflow: ellipsis; 
    word-wrap: break-word;
    overflow: hidden;
}